@font-face {
    font-family: "Commissioner";
    src: url("./fonts/Commissioner-Regular.ttf");
    font-weight: regular;
}

@font-face {
    font-family: "Commissioner";
    src: url("./fonts/Commissioner-Bold.ttf");
    font-weight: bold;
}

body {
    margin: 0;
}

p {
    color: #595959;
}

* {
    font-family: Commissioner;
}

#logo {
    margin: 30px 0px 0px 100px;
}

#navbar {
    padding-top: 30px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

nav {
    padding-right: 100px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    color: white;
}

nav ul li {
    display: inline;
    margin-right: 2rem;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/image-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    min-height: 300px;
    width: 100%;
    z-index: -1;
}

.logo-div {
    display: flex;
    justify-content: center;
    position: relative;
    top: -3.55rem;
}

.round-logo {}

h1 {
    text-align: center;
    font-weight: 900;
}

h4 {
    margin-top: 1rem;
    margin-right: 1rem;
}

h4:hover {
    color: hsl(176, 72%, 28%);
}

p.sub-head {
    text-align: center;
    margin-bottom: 2rem;
}

#main {
    width: 70%;
    margin: auto;
    z-index: 2;
    margin-top: -3rem;
}

.main-card {
    background-color: white;
    border: solid 1px hsl(0, 0%, 48%);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem 3rem 2rem 3rem;
}


/* status area */

#status-numbers-area {
    display: flex;
    flex-wrap: wrap;
}

.status-card {
    padding-left: 2rem;
    margin: 2rem;
    border-left: solid 1px gainsboro;
}

.status-card.left {
    border-left: none !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.status-card p {
    margin-bottom: 0px;
}

.number {
    font-size: 2rem;
    font-weight: bold;
}

.progress-bar-foreground {
    color: #fff !important;
    background-color: hsl(176, 72%, 28%);
    height: 14px;
    border-radius: 25px;
}

.progress-bar-background {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    margin-top: 1rem;
    border-radius: 25px;
}

button {
    background-color: hsl(176, 72%, 28%);
    padding: 1rem;
    height: 57px;
    border-radius: 50px;
    border-width: 0px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: hsl(176, 72%, 18%);
}

button#bookmark {
    background-color: rgb(136, 136, 136);
    padding: 0rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.bookmark-button-label {
    margin-left: 1rem;
    display: inline-block;
}

span.bookmark-toggle {
    padding: 0px;
}


/* 
pledge cards */

.pledge-amount {
    color: hsl(176, 72%, 28%);
    font-weight: bold;
}

.remaining-count {
    display: flex;
    align-items: center;
}

.pledge-card-footer .number {
    margin-right: 0.5rem;
}

div.pledge-card {
    /* background-color: lavender; */
    border: solid 1px hsl(0, 0%, 48%);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem;
}

.pledge-card-footer,
.pledge-card-header,
.heading-footer,
.pledge-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    border: solid 1px;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid hsl(0, 0%, 48%);
    width: 70%;
    /* Could be more or less, depending on screen size */
}

.pledge-card-top {
    display: flex;
    align-items: flex-start;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pledge-card-modal {
    border: solid 1px hsl(0, 0%, 48%);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem;
    background-color: skyblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 4fr 5fr;
    grid-template-areas: "radio heading pledge remaining" ". description description description" "footer footer footer footer";
    align-items: baseline;
}

@media only screen and (max-width: 375px) {
    /* main page ---------------------------------------------------- */
    #main {
        width: 100%;
        z-index: 2;
        margin-top: -3rem;
        margin: 0 1rem 0 1rem;
    }
    .main-card {
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
    }
    .pledge-card-footer,
    .pledge-card-header {
        flex-direction: column;
        align-items: flex-start;
    }
    #status-numbers-area {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .status-card {
        padding-left: 0rem;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-left: none;
        border-top: solid 2px gainsboro;
    }
    .status-card.left {
        border-top: none !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 375px) {
    /* MODAL */
    h4 {
        margin: 0;
    }
    .pledge-card-modal {
        background-color: lightgreen;
        padding: 1rem;
        grid-template-rows: auto auto 1fr auto minmax(0, auto);
        grid-template-columns: 1fr 5fr;
        grid-template-areas: "radio heading" "radio pledge" "description description" "remaining ." "footer footer";
        /* gap: 0px 0px; */
    }
    .modal-content {
        margin-top: 1rem;
        padding: 2rem;
        padding: 20px;
        border: 1px solid hsl(0, 0%, 48%);
        width: 100%;
    }
    .fake-radio {
        /* grid-area: radio;
        display: flex;
        align-items: center;
        justify-content: center; */
        margin-right: 0;
        margin-top: 0;
    }
    #main {
        z-index: 2;
        margin-top: -3rem;
    }
    nav {
        display: none;
        padding-right: 0px;
    }
}

.fake-radio {
    grid-area: radio;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 1rem;
}

.radio-button {
    position: absolute;
    height: 15px;
    width: 15px;
    /* background-color: lightgray; */
    border-radius: 50px;
}

.radio-button-outline {
    position: relative;
    height: 25px;
    width: 25px;
    border: solid lightgray 2px;
    border-radius: 50px;
}

.pledge-card-modal.selected .radio-button {
    background-color: hsl(176, 50%, 47%);
}

.remaining-amount-area {
    justify-self: end;
    display: block;
    display: flex;
}

.modal-pledge-card-description {
    grid-area: description;
}

.selected {
    border-color: hsl(176, 50%, 47%) !important;
    border-width: 2px !important;
}

.selected .modal-pledge-card-footer {
    display: flex !important;
    grid-area: footer;
    /* height: minmax(0, auto); */
}

.modal-pledge-card-footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px hsl(0, 0%, 48%);
    margin-top: 1rem;
    padding-top: 1rem;
}

input.pledge-input {
    padding: 1rem;
    border: solid 1px hsl(0, 0%, 48%);
    border-radius: 25px;
    font-weight: bold;
}

.out-of-stock p,
.out-of-stock h3,
.out-of-stock h4,
.out-of-stock .number {
    color: rgb(235, 235, 235);
}

.out-of-stock .pledge-amount {
    color: hsl(176, 50%, 87%);
}

.out-of-stock {
    border-color: rgb(235, 235, 235);
}

button.out-of-stock {
    background-color: rgb(200, 218, 241);
}


/* success */

div#success * {
    text-align: center;
    margin: auto;
}

div#success {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.success-content {
    border: solid 1px;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid hsl(0, 0%, 48%);
    width: 70%;
    /* Could be more or less, depending on screen size */
}

div#success button {
    margin: auto;
}